.axis--x text  {
  font-family: 'Rubik', sans-serif;
  font-size: 11px;
  color: #6F777A;
  fill: #6F777A;
}
.axis--x path {
  stroke: #CDD6D9;
  stroke-width: 1px;
}

.legend rect.current {
  stroke: #079FD1;
  fill: #079FD1;
}
